
*,*:before *:after {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    text-align: center;
    width:80%;
    margin: 0 auto;
}
input {
    width: 60%;
    font-weight: 100;
    color:rgba(0,0,0,0.8);
    padding :15px 50px;
    text-align: center;
    font-size: 1.5rem;
    border:none;
    outline: none;
}
input::placeholder {
    font-style: italic;
    font-weight: 100;
    color:rgba(0,0,0,0.4);
}
.input_container {
    border:none;
    border-bottom: 2px solid gray;
    width:50%;
    margin: 0 auto;
    position: relative;
}
.logo_img {
   width: 8%;
   position: absolute;
   top:0.4rem;
   border-radius: 50%;
}
.display {

    width:40%;
    margin: 2rem auto;
    padding:1rem;
    border-radius: 1rem;
  
}
.info_container {
    text-align: center;
}
.user_img {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
}

.search {
    position:absolute;
    top:1rem;
    width:5%;
}